/* .geist-mono {
    font-family: "Geist Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
} */

:root {
    /* Base */
    --darkmodeBlue: #141B23;

    /* Retro Colors */
    --retroGreen: #3A5C43;
    --retroRed: #9C4035;
    --retroYellow: #C88630;
    --retroBlue: #385D65;
}

*{
    margin: 0;
    padding: 0;
    background-color: var(--darkmodeBlue);
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.mainContainer {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.green {
    background-color: var(--retroGreen);
}

.red {
    background-color: var(--retroRed);
}

.yellow {
    background-color: var(--retroYellow);
}

.blue {
    background-color: var(--retroBlue);
}

/* Header */
.index_header {
    background-color: var(--darkmodeBlue);
    width: 100%;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.index_header h1 {
    color: whitesmoke;
    font-family: "Geist Mono", monospace;
    background-color: inherit;
    font-size: 72px;
}

/* Navigation */

.nav {
    box-shadow: 0 -5px 10px black, 0 5px 10px black;
    cursor: pointer;
    z-index: 10;
    position: sticky;
    top: 0;
    margin-top: auto;
}

.navBtns {
    display: flex;
    width: 100%;
}

.navBtns a {
    flex: 1;
    font-family: "Geist Mono", monospace;
    border: none;
    font-size: 36px;
    padding: 2rem;
    color: whitesmoke;
    cursor: pointer;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.caret {
    color:whitesmoke; 
    background-color:inherit; 
    font-size: 24px;
    margin-top: 1rem;
}

/* About Me */

.aboutmeContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: var(--darkmodeBlue);
    font-family: "Geist Mono", monospace;
    color: whitesmoke;
    height: auto;
    min-height: 40rem;
    border-bottom: var(--retroGreen) 1rem solid;
}

.aboutmeTextContainer {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    background-color: inherit;
}

.aboutmeTextContainer h1 {
    background-color: inherit;
    color: var(--retroGreen);
    margin-left: 5rem;
    border-left: var(--retroGreen) 0.5rem solid;
    padding-left: 0.5rem;
}

.aboutmeTextContainer p {
    background-color: inherit;
    margin-left: 5rem;
    border-left: var(--retroGreen) 0.5rem solid;
    padding-left: 0.5rem;
    font-size: 1.2rem;
}

.aboutmePhoto {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: inherit;
}

.aboutmePhoto img {
    width: 40%;
    display: block;
    background-color: inherit;
    border-bottom: var(--retroGreen) 0.5rem solid;
}

/* Projects */

.projectsContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    color: whitesmoke;
    font-family: "Geist Mono", monospace;
    border-bottom: var(--retroRed) 1rem solid;
}

.projectTextContainer {
    display: flex;
    flex-direction: column;
    justify-content: top;
    align-items: left;
}

.projectTextContainer h1 {
    background-color: inherit;
    color: var(--retroRed);
    margin-left: 5rem;
    border-left: var(--retroRed) 0.5rem solid;
    padding-left: 0.5rem;
}

.projectTextContainer p {
    background-color: inherit;
    margin-left: 5rem;
    border-left: var(--retroRed) 0.5rem solid;
    padding-left: 0.5rem;
    font-size: 1.2rem;
    margin-right: 2rem;
}

.projectBlockContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 3rem;
    margin-top: 3rem;
}

.projectBlock {
    width: 100%;
    padding: 3rem;
    margin: 1.7rem;
    background-color: var(--retroRed);
    height: auto;
    min-height: 30rem;
    border-radius: 0.25rem;
    transition: box-shadow 0.5s ease;
    transition: margin-top 0.5s ease;
}

.projectBlock:hover {
    width: 100%;
    padding: 3rem;
    margin: 1.7rem;
    background-color: var(--retroRed);
    height: auto;
    min-height: 30rem;
    border-radius: 0.25rem;
    box-shadow: 10px 10px 0px rgba(0, 0, 0, 0.9);
    margin-top: 1rem;
}

.projectBlock h2{
    background-color: inherit;
}

.projectBlock h3 {
    background-color: inherit;
}

.projectBlock p {
    background-color: inherit;
}   

.projectBlock a {
    background-color: inherit;
    color: whitesmoke;
    text-decoration: none;
    margin-left: 0px;
    transition: margin-left 1s ease;
}  

.projectBlock a i{
    background-color: inherit;
    color: whitesmoke;
    text-decoration: none;
    margin-left: 0px;
}

.projectBlock a:hover {
    background-color: inherit;
    color: whitesmoke;
    text-decoration: none;
    font-weight: bolder;
    margin-left: 1rem;
}  

.projectBlock a i:hover{
    background-color: inherit;
    color: whitesmoke;
    text-decoration: none;
}
